@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Rubik", sans-serif;
	background-color: #181818;
	width: 100vw;
	height: 100vh;
    display: flex;
    justify-content: center;
}

#wrapperGlobal {
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); /* Mobile height */


    display: flex;
    gap: 10px;
    flex-direction: column;
}

header {
	color: #f1f1f1;
	padding: 20px 30px;
    height: 5vh;
}

main {
    max-height: 75vh;
	overflow: auto;
}

footer {
    max-height: 5vh;
    background-color: #272727;
	border-radius: 7px;
	color: #f1f1f1;

	display: flex;
	align-items: center;

	margin: 10px;
	margin-top: auto;
	padding: 10px 20px;
	max-height: fit-content;
}

input {
	font-size: 16px;
	font-family: "Rubik", sans-serif;
	font-weight: 400;
}

.nota {
	background-color: #272727;
    box-shadow: 0 5px 10px #181818;
	border-radius: 7px;

	display: flex;
	align-items: center;

	height: 50px;
	margin: 10px;
	padding: 0 20px;
}

.info {
	color: #44c9e1;
	width: 200px;
}

.value {
	color: #fbd757;
	margin-left: 10px;
}

#finalValue span.mediaRed {
	color: #f7665e;
}

#finalValue span.mediaYellow {
	color: #f7ec69;
}

#finalValue span.mediaGreen {
	color: #73d673;
}

#finalValue span.needsGrade {
	font-weight: bold;
}

.inputValor {
	display: inline-block;

	width: 100px;
	margin-left: 10px;

	background: none;
	outline: none;
	border: none;
	border-bottom: solid 1px #1b1b1b;
	color: #fbd757;
}

.inputValor:focus {
	border-bottom: solid 1px white;
}

.icon {
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	fill: white;
	margin-left: auto;
	transform: scale(0.8);

	cursor: pointer;
	transition: background-color 300ms ease, fill 300ms ease;
}

.icon:hover {
	fill: #44c9e1;
	background-color: white;
}

#resetNotas {
	transition: background-color 300ms ease, fill 300ms ease;
}

#resetNotas:hover {
	animation: girar 1s linear infinite;
}

@keyframes girar {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #101010;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #e6e6e6;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #d6f1e2;
}


@media (max-width: 500px){
	#wrapperGlobal{
		height: 90vh;
	}
}